.title {
  color: #333333;
  font-family: optima;
  padding-bottom: 25px;
}

.content {
  color: #463030;
  font-family: optima;
  font-size: 17px;
  text-align: left;
  padding-top: 30px;
}

.profilePic {
  border-radius: 50%;
}

.profileName {
  font-family: Garamond;
}

.block {
  margin-top: 50px;
}

.exception {
  color: red;
}

.icons {
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #464343;
}

.iconUrl {
  display: inline-block;
  font-size: 15px;
}
